@import "variables";
@import "slick";


.overflowHidden {
  overflow: hidden;
} 


@font-face {
    font-family: 'Caveat';
    src: url('../fonts/subset-Caveat-Regular.woff2') format('woff2'),
        url('../fonts/subset-Caveat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Italic.woff2') format('woff2'),
        url('../fonts/subset-PTSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-PTSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/subset-Caveat-Bold.woff2') format('woff2'),
        url('../fonts/subset-Caveat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/subset-PTSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/subset-PTSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-PTSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.header {
	position: relative;
	box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
	padding: 15px 0;
	z-index: 2;
}

.header__logo {
	display: block;
	max-width: 211px;
	width: 100%;
	height: auto;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.header__menu-list {
	display: flex;

	li {
		position: relative;
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}

		&::before {
			position: absolute;
			content: "";
			transition: all .3s;
			right: 0;
			top: 54px;
			height: 4px;
			width: 0;
		}

		&:hover::before {
			background-color: rgb(145, 184, 61);
			bottom: 0;
			width: 100%;
			left: 0;
		}
	}

	a {
		font-size: 18px;
		color: #5e5f5f;

		&:hover {
			text-decoration: none;
		}
	}
}

.btn-main {
	display: block;
	max-width: 195px;
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	line-height: 50px;
  	background-color: rgb(254, 151, 0);
  	color: #fefefe;
  	text-align: center;
  	transition: ease .3s;

  	&:hover {
  		background-color: #5e5f5f;
  		text-decoration: none;
  		color: #fefefe;
  	}
}

.btn-small {
	display: block;
	max-width: 195px;
	width: 100%;
	border-radius: 5px;
	line-height: 48px;
	text-align: center;
	color: #5e5f5f;
	font-size: 16px;
	border: 1px solid #5e5f5f;

	transition: ease .3s;

  	&:hover {
  		background-color: #5e5f5f;
  		text-decoration: none;
  		color: #fefefe;
  	}
}

.header .btn-main {
	line-height: 45px;
}

.header__btn-login {
	max-width: 97px;
	margin-left: 15px;
	line-height: 43px;
}

.intro {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	padding-top: 18px;
}

.intro .main-title {
	padding-bottom: 35px;
	padding-top: 25px;
}

.main-title {
	font-family: 'Caveat', sans-serif;
	font-size: 55px;
	line-height: 60px;
	color: #5e5f5f;
	font-weight: 700;
	margin-left: -5px;
}

.intro__text {
	font-size: 18px;
	line-height: 20px;
	color: #5e5f5f;
	padding-bottom: 110px;
}

.intro__big-img {
	display: block;
	min-width: 759px;
	max-width: 759px;
	width: 100%;
	height: auto;
}

.stats {
	padding-top: 47px;
	padding-bottom: 41px;
}

.stats__info {
	display: flex;
	align-items: center;
}

.stats__use {
	display: flex;
	margin-right: 40px;

	img {
		display: block;
		margin-right: 23px;
	}
}

.stats__text {
	font-size: 22px;
	line-height: 24px;
	color: #91b93e;
	
	span {
		text-transform: uppercase;
	}
}

.stats__sums {
	display: flex;
	align-items: baseline;
}

.stats__num {
	display: block;
	font-size: 55px;
	color: #5e5f5f;
	margin-right: 7px;
}

.stats__sums-text {
	font-size: 22px;
	color: #5e5f5f;
	margin-top: -20px;
}

.stats__apps-list {
	display: flex;
	justify-content: flex-end;
}

.stats__app {
	display: block;
	max-width: 150px;
	width: 100%;
	height: auto;
	margin-left: 15px;
	transition: all .3s;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.title-pages {
	font-family: 'Caveat', sans-serif;
	font-size: 55px;
	color: #5e5f5f;
	font-weight: 700;
	text-align: center;
}

.about {
	background-color: #fafafa;
	padding-top: 19px;
	padding-bottom: 80px;
}

.about__list {
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 1;
	margin-top: 35px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/about-center.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 294px;
		height: 305px;
		left: 50%;
		top: 100px;
		transform: translate(-50%, 0);
		pointer-events: none;
		z-index: -1
	}
}

.about__item {
	display: flex;
	max-width: 420px;
	width: 100%;
	border-radius: 5px;
  	background-color: rgb(255, 255, 255);
  	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
  	padding: 26px 30px;
  	margin-bottom: 32px;

	img {
		display: block;
		margin-right: 19px;
	}

	p {
		font-size: 18px;
		line-height: 20px;
		color: #5e5f5f;
		padding-top: 5px;
	}

	&:first-child {
		max-width: 1005px;
		margin: 0 auto;
		margin-bottom: 32px;
	}

	&:last-child {
		max-width: 1005px;
		margin: 0 auto;
		margin-bottom: 32px;
	}
}

.about .btn-main {
	margin: 0 auto;
}

.title-pages__subtitle {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 26px;
	color: #fe9700;
	font-weight: 400;
	padding-top: 20px;
}

.benefits {
	padding-top: 40px;
	padding-bottom: 73px;
	z-index: 1;
	overflow: hidden;
}

.benefits .container {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/iphone.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 340px;
		height: 594px;
		left: -110px;
		z-index: -1;
		bottom: -100px;
	}
}

.benefits__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	padding-top: 75px;
	margin-left: -15px;

	li {
		position: relative;
		max-width: 322px;
		width: 100%;
		font-size: 18px;
		line-height: 20px;
		padding-left: 80px;
		color: #5e5f5f;
		padding-top: 10px;
		margin-bottom: 50px;

		&:nth-child(even) {
			max-width: 390px;
		}

		&::before {
			content: "";
			position: absolute;
			background-image: url("../img/list-check.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 60px;
			height: 60px;
			left: 0;
			top: 0;
			background-color: #fff;
			border-radius: 50%;
		}
	}
}

.benefits__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 88px;
	margin-left: -15px;
}

.benefits__info-text {
	max-width: 487px;
	width: 100%;
	font-size: 22px;
	line-height: 26px;
	color: #5e6060;
}

.working {
	overflow: hidden;
	padding-top: 36px;
	padding-bottom: 48px;
	background-color: #fafafa;
}

.working .container {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/working-line-1.png");
		width: 166px;
		height: 183px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		right: 26px;
    	top: 182px;
    	z-index: -1;
	}

	&::after {
		content: "";
		position: absolute;
		background-image: url("../img/working-line-2.png");
		width: 166px;
		height: 183px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		left: 24px;
    	bottom: 108px;
    	z-index: -1;
	}
}

.working .title-pages {
	padding-bottom: 37px;
}

.working__item {
	display: flex;
	align-items: center;
	padding-left: 45px;
	padding-right: 45px;
	border-radius: 5px;
	padding-top: 26px;
	padding-bottom: 38px;
	background-color: rgb(255, 255, 255);
	margin-bottom: 30px;
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);

	img {
		display: block;
		margin-right: 36px;
	}
}

.working__item-title {
	font-size: 26px;
	color: #fe9700;
	font-weight: 400;
	padding-bottom: 14px;
}

.working__text {

	p {
		font-size: 18px;
		line-height: 20px;
		color: #5e5f5f;
	}
}

.menus {
	position: relative;
	padding-top: 35px;
	padding-bottom: 50px;

	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		height: 46%;
		width: 100%;
		background-color: #fafafa;
		pointer-events: none;
	}
}

.menus__item {
	display: block;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
	color: #000;
	margin-bottom: 35px;
	padding-bottom: 30px;
	transition: all .3s;

	&:hover {
		text-decoration: none;
		color: #000;
	}

	&:hover .menus__img::before {
		opacity: 1;
	}

	&:hover .menus__item-more {
		opacity: 1;
		transform: translate(-50%, -50%);
	}
}

.menus__img {
	position: relative;
	width: 100%;
	height: 255px;
	overflow: hidden;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 16px;

	img {
		display: block;
		margin: 0 auto;
		height: auto;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		background-color: rgba(0,0,0,0.5);
		transition: all .3s;
	}
}

.menus__item-content {
	padding-left: 20px;
	padding-right: 20px;

	p {
		font-size: 16px;
		line-height: 18px;
		color: #898989;
	}
}

.menus__item-title {
	font-size: 22px;
	color: #91b93e;
	font-weight: 400;
}

.menus__item-more {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-80%, -50%);
	max-width: 195px;
	width: 100%;
	font-size: 16px;
	color: #ffffff;
	background-color: transparent;
	text-align: center;
	border: 1px solid #fff;
	line-height: 48px;
	border-radius: 5px;
	transition: all .3s;
	opacity: 0;
}

.menus .title-content {
	padding-bottom: 44px;
}

.menus .btn-main {
	margin: 0 auto;
}

.menus__adding-content {
	padding-bottom: 47px;

	img {
		display: block;
		margin: 0 auto;
		margin-top: 50px;
	}
}

.menus__adding-content .title-pages__subtitle {
	padding-top: 12px;
}

.review {
	padding-top: 35px;
	padding-bottom: 80px;
}

.review__list {
	padding-top: 33px;
}

.review__item {
	display: flex;
	align-items: flex-start;
	border-radius: 5px;
	padding-left: 42px;
	padding-right: 18px;
	padding-top: 23px;
	padding-bottom: 23px;
	margin-bottom: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}

.review__img {
	max-width: 80px;
	min-width: 80px;
	width: 100%;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 28px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

.review__item-title-header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 3px;
}

.review__item-title {
	font-size: 22px;
	color: #9abe52;
	font-weight: 400;
}

.review__item-date {
	display: block;
	max-width: 90px;
	width: 100%;
	font-size: 12px;
	color: #5e5f5f;
	text-align: center;
	line-height: 24px;
	border-radius: 50px;
	background-color: #e9e9e9;
}

.review__item-text {

	p {
		font-size: 16px;
		line-height: 18px;
		color: #5e5f5f;
	}
}

.review .btn-small {
	margin: 0 auto;
}

.blog-info {
	background-color: #f6ebda;
	padding-top: 35px;
	overflow: hidden;

	p {
		font-size: 18px;
		line-height: 20px;
		color: #5e5f5f;
	}
}

.blog-info .title-pages {
	text-align: left;
	margin-left: -5px;
	padding-bottom: 30px;
}

.blog-info .btn-main--green {
	margin-top: 155px;
}

.btn-main--green {
	background-color: #91b83d;
}

.blog-info__big-img {
	display: block;
	margin-left: -20px;
	min-width: 752px;
    max-width: 752px;
    width: 100%;
    height: auto;
}

.blog-info__content {
	padding-top: 50px;
}

.questions {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 34px;
	padding-bottom: 80px;

	form {
		padding-top: 30px;
	}
}

.questions .title-pages {
	color: #fff;
}

.questions__field {
	margin-bottom: 33px;

	label {
		display: block;
		font-size: 18px;
		color: #fff;
		margin-bottom: 4px;
	}

	input {
		width: 100%;
		height: 55px;
		border: 1px solid #fff;
		border-radius: 5px;
		background-color: transparent;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
		color: #fff;
	}
}

.questions__textarea {
	margin-bottom: 33px;

	label {
		display: block;
		font-size: 18px;
		color: #fff;
		margin-bottom: 4px;
	}

	textarea {
		display: block;
		width: 100%;
		height: 110px;
		border: 1px solid #fff;
		border-radius: 5px;
		background-color: transparent;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18px;
		color: #fff;
		resize: none;
		outline: none;
	}
}

.faq {
	padding-top: 40px;
	padding-bottom: 80px;
}

.faq__list {
	padding-top: 35px;
}

.faq__item {
	padding-left: 50px;
	padding-right: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}

.faq__item-title {
	position: relative;
	font-size: 22px;
	color: #9abe52;
	font-weight: 400;
	cursor: pointer;
	padding-top: 35px;
	padding-bottom: 30px;

	&::before {
		content: "";
		position: absolute;
		background-image: url("../img/chevron.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		width: 24px;
		height: 16px;
		right: 17px;
		top: 40px;
		transition: all .45s;
	}

	&.chevron::before {
		transform: rotate(180deg);
	}
}

.faq__item-text {
	display: none;

	p {
		font-size: 18px;
		line-height: 20px;
		color: #5e5f5f;
		padding-bottom: 22px;
	}
}

.faq .btn-main {
	margin: 0 auto;
	margin-top: 35px;
}

.footer {
	padding-top: 40px;
	padding-bottom: 15px;
}

.footer__menu-list {
	display: flex;
	align-items: center;

	li {
		margin-right: 29px;

		&::last-child {
			margin-right: 0;
		}
	}

	a {
		font-size: 18px;
		color: #5e5f5f;
		transition: all .3s;

		&:hover {
			color: #91b83d;
			text-decoration: none;
		}
	}
}

.footer__social-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer__social {
	margin-left: 15px;
	transition: all .3s;

	&:hover {
		opacity: 0.7;
	} 
}

.footer__copyright {
	font-size: 14px;
	color: #5e5f5f;
}

.footer__spacer {
	width: 100%;
	height: 1px;
	background-color: #bababa;
	margin-bottom: 15px;
	margin-top: 36px;
}

.menu-slider {
	padding-top: 35px;
	padding-bottom: 26px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.menu-slider__slide {
	position: relative;
	display: block;
	max-width: 360px;
	width: 100%;
	color: #000;
	margin: 0 auto;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
	transition: all .3s;
	margin-bottom: 32px;

	&:hover {
		color: #000;
		text-decoration: none;
	}

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.13);
		opacity: 1;
		border-radius: 5px;
		transition: all .3s;
	}

	&::after {
		content: "";
		position: absolute;
		border: 20px solid transparent;
		border-top: 20px solid #fff;
		bottom: -40px;
		left: 50%;
		transform: translate(-50%, 0);
		transition: all .3s;
		opacity: 0;
	}
}

.menu-slider__img {
	width: 100%;
	height: 257px;
	overflow: hidden;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;

	img {
		display: block;
	}
}

.menu-slider__text {
	padding-top: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 22px;
	padding-right: 22px;
	padding-bottom: 18px;

	p {
		font-size: 16px;
		line-height: 18px;
		color: #898989;
	}
}

.menu-slider__item-title {
	font-size: 22px;
	color: #91b93e;
	font-weight: 400;
	padding-bottom: 9px;
}

.menu-slider .slick-current .menu-slider__slide::before {
	background-color: rgba(0,0,0,0);
	transition: all .3s;
}

.menu-slider .slick-current .menu-slider__slide::after {
	opacity: 1;
	transition: all .3s;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	font-size: 0;
	transform: translate(0, -80%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 60px;
	height: 60px;
	background-color: transparent;
	outline: none !important;
}

.slick-prev {
	background-image: url("../img/sl-prev.png");
	left: -75px;
}

.slick-next {
	background-image: url("../img/sl-next.png");
	right: -75px;
}

.slick-list {
	margin-left: -15px;
	margin-right: -15px;
}

.slick-dots {
	padding-bottom: 0;
}

.slick-dots li {
	margin: 0px 8px;
}

.slick-dots button {
	width: 10px;
	height: 10px;
	background-color: transparent;
	border: 1px solid #fff;
}

.slick-dots .slick-active button {
	background-color: #fff;
}

.header-2__top {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #252525;
}

.header-2__top-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-2__benefits-list {
	display: flex;
	align-items: center;
}

.header-2__benefits-item {
	position: relative;
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 15px;

	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 50px;
		background-color: rgb(48, 48, 48);
		top: -11px;
		right: 0;
	}

	&:last-child::before {
		display: none;
	}
}

.header-2__item-text {
	font-size: 14px;
	color: #f1f0f0;
}

.header-2__item-img {
	margin-right: 6px;
}

.header-2__login {
	position: relative;
	display: block;
	font-size: 18px;
	color: #11c84c;
	margin-right: 22px;
	transition: all .3s;

	&:hover {
		color: #11c84c;
		opacity: 0.8;
		text-decoration: none;
	}
}

.header-2__panel-content {
	display: flex;
	align-items: center;
}

.header-2__panel-btns {
	display: flex;
	align-items: center;

	.btn-main {
		width: 150px;
		margin-right: 20px;

		&:last-of-type {
			margin-right: 0;
		}
	}
}

.header-2__bottom {
	padding-top: 15px;
}

.header-2__logo {
	display: block;
	max-width: 153px;
	width: 100%;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.header-2__menu-list {
	display: flex;
	justify-content: flex-end;

	li {
		margin-right: 36px;

		&:last-of-type {
			margin-right: 0;
		}
	}

	a {
		font-size: 15px;
		color: #171717;
		font-weight: 700;
		text-transform: uppercase;
		transition: all .3s;

		&:hover {
			color: #7da9e9;
			text-decoration: none;
		}
	}
}

.intro-2 {
	padding-top: 50px;
	padding-bottom: 75px;

	.btn-main {
		margin-top: 25px;
	}
}

.intro-2 .title-pages {
	font-size: 40px;
	line-height: 50px;
	color: #131313;
	font-family: 'PT Sans', sans-serif;
	text-align: left;
	padding-bottom: 35px;
}

.intro-2__content {
	max-width: 510px;
	width: 100%;
	padding-top: 20px;
}

.intro-2__content p {
	padding-bottom: 25px;
}

.intro-2__big-img {

	margin-left: -35px;
	margin-right: -30px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.benefits2 {
	padding-top: 75px;
}

.benefits2__item {
	padding-left: 24px;
}

.benefits2__item-img {
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	min-height: 60px;
}

.benefits2__item-title {
	font-size: 24px;
	color: #212121;
	font-weight: 700;
	padding-bottom: 15px;
	padding-left: 3px;
}

.benefits2__list {

	li {
		position: relative;
		font-size: 15px;
		line-height: 22px;
		color: #212121;
		padding-left: 3px;
		padding-bottom: 25px;

		&::before {
			content: "";
			position: absolute;
			left: -25px;
			top: 6px;
			background-image: url("../img/check.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 15px;
			height: 11px;
		}
	}
}

.title-pages2 {
	position: relative;
	display: inline;
	font-size: 40px;
	line-height: 50px;
	color: #212121;
	font-weight: 700;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		background-color: rgb(51, 120, 221);
		width: 100%;
		height: 18px;
		bottom: 0;
		left: 0;
		opacity: 0.8;
		z-index: -1;

	}
}

.start {
	padding-top: 90px;
	padding-bottom: 60px;
}

.start .title-pages2__text {
	padding-top: 37px;
}

.title-pages2__text {
	font-size: 15px;
	color: #212121;
}

.start__item {
	max-width: 220px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-top: 57px;

	p {
		font-size: 14px;
		line-height: 18px;
		color: #212121;
		padding-bottom: 10px;
		min-height: 100px;
	}
}

.start__item-img {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 57px;
	margin-bottom: 33px;
}

.start__item-title {
	font-size: 20px;
	color: #212121;
	font-weight: 700;
	padding-bottom: 20px;
}

.start__item-read {
	position: relative;
	display: inline-block;
	font-size: 13px;
	color: #212121;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-right: 24px;
	transition: all .3s;

	&:hover {
		opacity: 0.8;
		color: #212121;
		text-decoration: none;
	}

	&:before {
		content: "";
		position: absolute;
		background-image: url("../img/arr-r.png");
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		width: 17px;
		height: 12px;
		right: 0;
		top: 4px;
	}
}

.start__item-btn {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 15px;
	color: #15b244;
	text-transform: uppercase;
	height: 50px;
	border: 1px solid #15b244;
	font-weight: 700;
	padding-top: 7px;
	border-radius: 50px;
	transition: all .3s;

	span {
		display: block;
		text-transform: none;
		font-weight: 400;
		line-height: 8px;
	}

	&:hover {
		color: #fff;
		background-color: #15b244;
		text-decoration: none;
	}
}

.browsers {
	padding-top: 60px;
}

.browsers__content {
	padding-top: 37px;

	p {
		font-size: 15px;
		line-height: 20px;
		color: #212121;

		&:last-of-type {
			padding-bottom: 23px;
		}
	}

	.start__item-btn {
		max-width: 255px;

		span {
			font-size: 12px;
			color: #959595;
			transition: all .3s;
		}

		&:hover span {
			color: #fff;
		}
	}
}

.browsers__list {

	li {
		position: relative;
		font-size: 15px;
		line-height: 22px;
		color: #212121;
		padding-left: 25px;
		padding-bottom: 20px;

		&::before {
			content: "";
			position: absolute;
			left: 0px;
			top: 5px;
			background-image: url("../img/check.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			width: 15px;
			height: 11px;
		}
	}
}

.browsers__main-img {
	margin-top: 60px;
	margin-right: -55px;
	margin-left: -20px;

	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}